
<!DOCTYPE html>
<html>

	<head>
		<link href="../dist/css/webpage.css" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css">
			body { background-color: #fff; }
			.container { background-color:#333; }
			.container div p { background-color:#fff; }
			div p { border:1px solid #333; padding:10px; }
			h2 { color:#fff; }
			
		</style>
	</head>

	<body>
		<div class="container container_16">
			<h2 class="grid_16">
				16 Column Grid
			</h2>
			<div class="grid_16">
				<p>
					1100px
				</p>
			</div>
			
			<div class='clear'>&nbsp;</div>
<div class='grid_1'>
<p>50px</p>
</div><div class='grid_15'>
<p>1030px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_2'>
<p>120px</p>
</div><div class='grid_14'>
<p>960px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_3'>
<p>190px</p>
</div><div class='grid_13'>
<p>890px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_4'>
<p>260px</p>
</div><div class='grid_12'>
<p>820px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_5'>
<p>330px</p>
</div><div class='grid_11'>
<p>750px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_6'>
<p>400px</p>
</div><div class='grid_10'>
<p>680px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_7'>
<p>470px</p>
</div><div class='grid_9'>
<p>610px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_8'>
<p>540px</p>
</div><div class='grid_8'>
<p>540px</p>
</div>


			
			<div class='clear'>&nbsp;</div>
<div class='grid_1  suffix_15'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_1 suffix_14'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_2 suffix_13'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_3 suffix_12'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_4 suffix_11'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_5 suffix_10'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_6 suffix_9'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_7 suffix_8'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_8 suffix_7'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_9 suffix_6'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_10 suffix_5'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_11 suffix_4'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_12 suffix_3'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_13 suffix_2'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_14 suffix_1'>
<p>50px</p>
</div><div class='clear'>&nbsp;</div>
<div class='grid_1 prefix_15 suffix_0'>
<p>50px</p>
</div>
			<div class="clear">&nbsp;</div>
		</div>
	</body>
</html>