/**
 * 下沙项目特有样式文件
 */

//index
.fpi-xiasha-content{
	height: 100%;
	width: 100%;
	background-color: @wp-index-background-color;
}

.fpi-xiasha-content-img{
	width: 1100px;
	margin: 0 auto;
}

//企业检索
.fpi-xiasha-company-search{
	border: 1px dashed #cccccc;
	margin: 20px;
	background-color: #f5f5f5;
}